#navbar-container{
    height: 10%;
    color: #fbfbfb;
    display: flex;
    font-family: Roborto-mono, monospace;
    font-size: smaller;
    align-items: center;
}

#navbar-logo{
    width: 10%;
    height: 100%;
}
#navbar-p1{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}
#navbar-profile{
    width: 20%;
    height: 90%;
    display: flex;
    align-items: right;
    justify-content: right;
}



.nav-opt{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 18%;
    height: 75%;
    padding: 0.5em;
    background-color: #000101;
    cursor: pointer;
}
.nav-opt-col{
    width: 12%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-opt-lab{
    width: 80%;
}


.nav-col-div{
    width: 100%;
    height: 100%;
}

.bg-blue{
    background-color: blue;
}
.bg-171616 {
    background-color: #171616;
}
.bg-green {
    background-color: green;
}
.bg-plum {
    background-color: plum;
}
.bg-tomato {
    background-color: tomato;
}
.bg-cadetblue {
    background-color: cadetblue;
}



#navbar-logout-icon {
    width: 20%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000101;
    border-radius: 50%;
}
#navbar-profile-icon {
    width: 20%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000101;
    border-radius: 50%;
}

.tooltip-text {
    visibility: hidden;
    color: white;
    position: absolute;
    bottom: 85%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
}

#navbar-logout-icon:hover .tooltip-text {
    visibility: visible;
}
#navbar-profile-icon:hover .tooltip-text {
    visibility: visible;
}
